# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run

CLAUDE.md
learnings
clientRun
serverRun
dataRun
# other additions
.neoforge
common/src/generated/
